@use "sass:map";
@use "sass:color";
@use "sass:math";

@function generate-alphas($palette) {
  $alpha-colors: ();
  @each $alpha in $alpha-steps {
    @each $color, $value in $palette {
      $fraction: calc(-1 * (1 - ($alpha / 100)));
      $alpha-colors: map.set($alpha-colors, "#{$color}-#{$alpha}", color.adjust($value, $alpha: $fraction));
    }
  }  
  @return $alpha-colors;
}

$prefix: "sp";

$alpha-steps: (90, 70, 50, 30, 10);

$theme: (
    fonts: (
      "sans": "Nunito",
      "header": "Montserrat",
    ),
    palette: (
      "primary": hsla(160, 22%, 46%, 1.0),
      "accent": hsla(357, 46%, 52%, 1.0),
      "background": hsla(30, 6%, 94%, 1.0),
      "warning": hsla(50, 83%, 74%, 1.0),
      "error": hsla(357, 46%, 52%, 1.0),

      "green": hsla(92, 33%, 56%, 1.0),
      "blue": hsla(160, 22%, 46%,1.0 ),
      "yellow": hsla(50, 83%, 74%, 1.0),
      "red": hsla(357, 46%, 52%,1.0),
      "purple": hsla(255, 25%, 59%,1.0),
      "text": hsla(210, 6%, 33%, 1.0),
      "text-muted": hsla(216, 15%, 48%, 1.0),
    ),
);

$palette: map.get($theme, "palette");
$palette: map.merge($palette, generate-alphas($palette));

@each $name, $value in $palette {
  .text-#{$name} {
    color: var(--#{$prefix}-#{$name}) !important;
  }

  .bg-#{$name} {
    background-color: var(--#{$prefix}-#{$name}) !important;
  }
}

@each $name, $value in map.get($theme, "fonts") {
  .font-#{$name} {
    font-family: #{$value};
  }
}

body {
  font-family: var(--ex-font-sans);
}


:root {
  @each $name, $value in $palette {
    --#{$prefix}-#{$name}: #{$value};
  }
  @each $name, $value in map.get($theme, "fonts") {
    --#{$prefix}-font-#{$name}: #{$value};
  }

  --sp-search-box-z: 1000;
  --footer-height: 200px;
  --input-disabled-solid-color: #949494;
  --bg-card: #f0efee;
  --bg-card-raised: #f8f8f8;
  --sp-paper: #e7e7e7;

  --z-toaster: 1000;
  --z-dropdown: 900;
}

.p-rel {
  position: relative;
}


.p-sticky {
  position: sticky;
}


.btn {
  color: var(--sp-background);
  text-transform: uppercase;

  &:hover {
    color: var(--sp-background);
  }
}

.v-fill {
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}