.tabs {
  display: flex;

  .tab-row {
    display: flex;
    overflow-wrap: normal;
    flex-wrap: no-wrap;

    .tab {
      padding: 0.5rem 1rem;
      display: block;
      overflow-wrap: normal;

      &:hover {
        color: var(--sp-primary);
      }
    }
  }

  .router-link-exact-active {
    color: var(--sp-primary);
    border-bottom: 2px solid var(--sp-primary);
  }
}

@media (max-width: 575.98px) {
  .tabs {
    display: block;
    .tab-row {
      min-width: 100px;
      padding: 1rem 0;
      overflow-x: auto;
    }
  }
}