.text {
  color: var(--sp-text);
}

.text-white {
  color: var(--sp-background) !important;
}

.text-primary {
  color: var(--sp-primary) !important;
}

.text-accent {
  color: var(--sp-accent);
}

.text-red {
  color: var(--sp-red);
}

.text-blue {
  color: var(--sp-blue);
}

.text-yellow {
  color: var(--sp-blue);
}
